:root {
  --md-admonition-icon--equipment: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.57 14.86 22 13.43 20.57 12 17 15.57 8.43 7 12 3.43 10.57 2 9.14 3.43 7.71 2 5.57 4.14 4.14 2.71 2.71 4.14l1.43 1.43L2 7.71l1.43 1.43L2 10.57 3.43 12 7 8.43 15.57 17 12 20.57 13.43 22l1.43-1.43L16.29 22l2.14-2.14 1.43 1.43 1.43-1.43-1.43-1.43L22 16.29l-1.43-1.43Z"/></svg>')
}
.md-typeset .admonition.equipment,
.md-typeset details.equipment {
  border-color: rgb(255, 236, 61);
}
.md-typeset .equipment > .admonition-title,
.md-typeset .equipment > summary {
  background-color: rgba(255, 236, 61, 0.1);
}
.md-typeset .equipment > .admonition-title::before,
.md-typeset .equipment > summary::before {
  background-color: rgb(255, 236, 61);
  -webkit-mask-image: var(--md-admonition-icon--equipment);
          mask-image: var(--md-admonition-icon--equipment);
}

:root {
  --md-admonition-icon--cardio: url('data:image/svg+xml;charset-utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7.5 4A5.5 5.5 0 0 0 2 9.5c0 .5.09 1 .22 1.5H6.3l1.27-3.37c.3-.8 1.48-.88 1.86 0L11.5 13l.59-1.42c.13-.33.48-.58.91-.58h8.78c.13-.5.22-1 .22-1.5A5.5 5.5 0 0 0 16.5 4c-1.86 0-3.5.93-4.5 2.34C11 4.93 9.36 4 7.5 4M3 12.5a1 1 0 0 0-1 1 1 1 0 0 0 1 1h2.44L11 20c1 .9 1 .9 2 0l5.56-5.5H21a1 1 0 0 0 1-1 1 1 0 0 0-1-1h-7.6l-.93 2.3c-.4 1.01-1.55.87-1.92.03L8.5 9.5l-.96 2.33c-.15.38-.49.67-.94.67H3Z"/></svg>')
}
.md-typeset .admonition.cardio,
.md-typeset details.cardio {
  border-color: rgb(255, 236, 61);
}
.md-typeset .cardio > .admonition-title,
.md-typeset .cardio > summary {
  background-color: rgba(255, 236, 61, 0.1);
}
.md-typeset .cardio > .admonition-title::before,
.md-typeset .cardio > summary::before {
  background-color: rgb(255, 236, 61);
  -webkit-mask-image: var(--md-admonition-icon--cardio);
          mask-image: var(--md-admonition-icon--cardio);
}

:root {
  --md-admonition-icon--strength: url('data:image/svg+xml;charset-utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 5c-1.11 0-2 .89-2 2s.89 2 2 2 2-.89 2-2-.89-2-2-2m10-4v5h-2V4H4v2H2V1h2v2h16V1h2m-7 10.26V23h-2v-5h-2v5H9V11.26C6.93 10.17 5.5 8 5.5 5.5V5h2v.5C7.5 8 9.5 10 12 10s4.5-2 4.5-4.5V5h2v.5c0 2.5-1.43 4.67-3.5 5.76Z"/></svg>')
}
.md-typeset .admonition.strength,
.md-typeset details.strength {
  border-color: rgb(255, 236, 61);
}
.md-typeset .strength > .admonition-title,
.md-typeset .strength > summary {
  background-color: rgba(255, 236, 61, 0.1);
}
.md-typeset .strength > .admonition-title::before,
.md-typeset .strength > summary::before {
  background-color: rgb(255, 236, 61);
  -webkit-mask-image: var(--md-admonition-icon--strength);
          mask-image: var(--md-admonition-icon--strength);
}

:root {
  --md-admonition-icon--interval: url('data:image/svg+xml;charset-utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 20a7 7 0 0 1-7-7 7 7 0 0 1 7-7 7 7 0 0 1 7 7 7 7 0 0 1-7 7m7.03-12.61 1.42-1.42c-.45-.51-.9-.97-1.41-1.41L17.62 6c-1.55-1.26-3.5-2-5.62-2a9 9 0 0 0-9 9 9 9 0 0 0 9 9c5 0 9-4.03 9-9 0-2.12-.74-4.07-1.97-5.61M11 14h2V8h-2m4-7H9v2h6V1Z"/></svg>')
}
.md-typeset .admonition.interval,
.md-typeset details.interval {
  border-color: rgb(255, 236, 61);
}
.md-typeset .interval > .admonition-title,
.md-typeset .interval > summary {
  background-color: rgba(255, 236, 61, 0.1);
}
.md-typeset .interval > .admonition-title::before,
.md-typeset .interval > summary::before {
  background-color: rgb(255, 236, 61);
  -webkit-mask-image: var(--md-admonition-icon--interval);
          mask-image: var(--md-admonition-icon--interval);
}

:root {
  --md-admonition-icon--rest: url('data:image/svg+xml;charset-utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23 12h-6v-2l3.39-4H17V4h6v2l-3.38 4H23v2m-8 4H9v-2l3.39-4H9V8h6v2l-3.38 4H15v2m-8 4H1v-2l3.39-4H1v-2h6v2l-3.38 4H7v2Z"/></svg>')
}
.md-typeset .admonition.rest,
.md-typeset details.rest {
  border-color: rgb(255, 236, 61);
}
.md-typeset .rest > .admonition-title,
.md-typeset .rest > summary {
  background-color: rgba(255, 236, 61, 0.1);
}
.md-typeset .rest > .admonition-title::before,
.md-typeset .rest > summary::before {
  background-color: rgb(255, 236, 61);
  -webkit-mask-image: var(--md-admonition-icon--rest);
          mask-image: var(--md-admonition-icon--rest);
}

:root {
  --md-admonition-icon--yoga: url('data:image/svg+xml;charset-utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 2a2 2 0 1 0 0 4c1.11 0 2-.89 2-2a2 2 0 0 0-2-2M4 7v2h6v6l-5.07 5.07 1.41 1.43 6.72-6.73L17 17.13V21h2v-4.43c0-.36-.18-.68-.5-.86L15 13.6V9h6V7H4Z"/></svg>')
}
.md-typeset .admonition.yoga,
.md-typeset details.yoga {
  border-color: rgb(255, 236, 61);
}
.md-typeset .yoga > .admonition-title,
.md-typeset .yoga > summary {
  background-color: rgba(255, 236, 61, 0.1);
}
.md-typeset .yoga > .admonition-title::before,
.md-typeset .yoga > summary::before {
  background-color: rgb(255, 236, 61);
  -webkit-mask-image: var(--md-admonition-icon--yoga);
          mask-image: var(--md-admonition-icon--yoga);
}

:root {
  --md-admonition-icon--calendar: url('data:image/svg+xml;charset-utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9 10v2H7v-2h2m4 0v2h-2v-2h2m4 0v2h-2v-2h2m2-7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h1V1h2v2h8V1h2v2h1m0 16V8H5v11h14M9 14v2H7v-2h2m4 0v2h-2v-2h2m4 0v2h-2v-2h2Z"/></svg>')
}
.md-typeset .admonition.calendar,
.md-typeset details.calendar {
  border-color: rgb(255, 236, 61);
}
.md-typeset .calendar > .admonition-title,
.md-typeset .calendar > summary {
  background-color: rgba(255, 236, 61, 0.1);
}
.md-typeset .calendar > .admonition-title::before,
.md-typeset .calendar > summary::before {
  background-color: rgb(255, 236, 61);
  -webkit-mask-image: var(--md-admonition-icon--calendar);
          mask-image: var(--md-admonition-icon--calendar);
}